/* tokyonight */
@define-color base    #1a1b26;
@define-color surface #16161e;
@define-color overlay #414868;
@define-color muted   #565f89;
@define-color subtle  #9aa5ce;
@define-color text    #c0caf5;
@define-color love    #f7768e;
@define-color gold    #e0af68;
@define-color rose    #7aa2f7;
@define-color foam    #7dcfff;

* {
    font-family: "Fira Code", monospace;
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window {
    background: #000000;
    border: 1px solid @rose;
    border-radius: 12px;
}

#input {
    background: #000000;
    border: 1px solid @overlay;
    border-radius: 8px;
    color: @text;
    padding: 8px 12px;
    margin: 10px;
}

#input:focus {
    border-color: @rose;
}

#scroll {
    margin: 0 8px 8px 8px;
}

#entry {
    padding: 6px 12px;
    border-radius: 6px;
    color: @muted;
    background: transparent;
}

#entry:selected {
    background: @overlay;
    color: @text;
}

#entry:selected #text {
    color: @text;
}

#text {
    color: @subtle;
}
