/* moonfly */
@define-color base    #080808;
@define-color surface #1c1c1c;
@define-color overlay #2c2c2c;
@define-color muted   #4e4e4e;
@define-color subtle  #9e9d9d;
@define-color text    #bdbdbd;
@define-color love    #ff5454;
@define-color gold    #e3c78a;
@define-color rose    #80a0ff;
@define-color foam    #79dac8;

* {
    font-family: "Fira Code", monospace;
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window {
    background: #000000;
    border: 1px solid @rose;
    border-radius: 12px;
}

#input {
    background: #000000;
    border: 1px solid @overlay;
    border-radius: 8px;
    color: @text;
    padding: 8px 12px;
    margin: 10px;
}

#input:focus {
    border-color: @rose;
}

#scroll {
    margin: 0 8px 8px 8px;
}

#entry {
    padding: 6px 12px;
    border-radius: 6px;
    color: @muted;
    background: transparent;
}

#entry:selected {
    background: @overlay;
    color: @text;
}

#entry:selected #text {
    color: @text;
}

#text {
    color: @subtle;
}
