@import "../../colors.css";

* {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 14px;
	border: none;
	border-radius: 0;
	min-height: 0;
}

window#waybar {
	background-color: @bg;
	border-top: 1px solid @muted;
}

#custom-launcher,
#clock,
#workspaces,
#scratchpad,
#pulseaudio,
#battery,
#tray,
#custom-notification {
	background-color: transparent;
	padding: 2px 8px;
	color: @accent;
}

#workspaces button {
	padding: 0 4px;
	color: @muted;
}

#workspaces button.focused,
#workspaces button.active {
	color: @accent;
}

#workspaces button.visible:not(.focused),
#workspaces button.visible:not(.active) {
	color: @accent;
}

#workspaces button:hover {
	color: @fg;
}

#clock {
	font-weight: bold;
}

#custom-launcher {
	font-size: 18px;
	padding-left: 12px;
}

#custom-separator {
	color: @muted;
	padding: 0 4px;
}

#battery.warning { color: @warning; }
#battery.critical { color: @error; }
#battery.charging { color: @info; }

#pulseaudio.muted { color: @muted; }

#custom-notification.dnd { color: @muted; }
