* {
    bg:       {{background}};
    bg-alpha: {{background}}cc;
    bg-alt:   {{color0}};
    fg:       {{foreground}};
    fg-dim:   {{color8}};
    accent:   {{color5}};
    urgent:   {{color1}};
}
